body, html {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    background: url('../images/background.png') center/cover no-repeat;
}

.grid-item {
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#recent-results {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 250px;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}
